.form-field {
   width: 80%;
   margin: 5px 0;
}

.form-field input {
   font-family: inherit;
   font-size: 14px;
   padding: 5px;
   border: none;
   border-radius: 5px;
   width: 100%;
}

.form-field input:focus {
   outline: none;
}

.form-field.number {
   display: flex;
   align-items: center;
   justify-content: flex-end;
}

.currency {
   text-align: center;
   font-size: 14px;
   color: white;
   width: 50px;
   padding: 5px;
   background-color: var(--primary);
   border-radius: 5px;
}

.btn {
   font-family: inherit;
   font-size: 14px;
   padding: 10px;
   margin-top: 10px;
   color: white;
   border: none;
   border-radius: 10px;
   background-color: var(--secondary);
   cursor: pointer;
   transition: all 0.5s;
}

.btn:active {
   transform: scale(0.9);
}
