.form {
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
}

.form form {
   width: 100%;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
}

.total {
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   background-color: transparent;
   border: 2px solid var(--secondary);
   border-radius: 10px;
   padding: 10px;
   margin: 5px 0;
}

.amount {
   font-size: 20px;
   color: var(--secondary);
}

.amount span {
   font-size: 12px;
}

.small {
   font-size: 10px;
   letter-spacing: 1px;
}

.form-field {
   width: 80%;
   margin: 5px 0;
}

.form-field input {
   font-family: inherit;
   padding: 5px;
   border: none;
   border-radius: 5px;
   width: 100%;
}

.form-field input:focus {
   outline: none;
}

.buttons {
   max-width: 600px;
   margin: auto;
   position: fixed;
   bottom: 0;
   left: 0;
   right: 0;
   display: flex;
   align-items: center;
   justify-content: space-between;
}

.buttons button {
   width: 100%;
   border: 1px solid var(--secondary);
   font-family: inherit;
   font-size: 16px;
   font-weight: bold;
   padding: 10px;
   color: white;
   background-color: var(--secondary);
   cursor: pointer;
}

.buttons button.cancel {
   background-color: white;
   color: var(--secondary);
}
