.header {
   height: 60px;
   background-color: var(--primary);
   color: white;
   display: flex;
   align-items: center;
   justify-content: space-between;
   padding: 10px;
   position: sticky;
   top: 0;
   box-shadow: 0px 2px 5px 1px rgba(0, 0, 0, 0.2);
}

h1 {
   font-size: 24px;
}

/* .logo {
   width: 100px;
} */
