@import url('https://fonts.googleapis.com/css2?family=Mooli&display=swap');

:root {
   --primary: #17b169;
   --secondary: #222e50;
   --tertiary: #e0d0c1;
}

* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

.app {
   max-width: 600px;
   width: 100%;
   margin: auto;
   font-family: 'Mooli', sans-serif;
}

.main {
   background-color: var(--tertiary);
   min-height: calc(100vh - 60px);
   padding: 20px 10px;
}
