@import url('https://fonts.googleapis.com/css2?family=Mooli&display=swap');

:root {
   --primary: #17b169;
   --secondary: #222e50;
   --tertiary: #e0d0c1;
   --background: linear-gradient(
      90deg,
      rgba(34, 46, 80, 1) -20%,
      rgba(23, 177, 105, 1) 120%
   );
}

* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

.app {
   max-width: 600px;
   width: 100%;
   margin: auto;
   font-family: 'Mooli', sans-serif;
   background-color: var(--tertiary);
   min-height: 100vh;
}

.main {
   padding: 20px 10px;
}
