@import url('https://fonts.googleapis.com/css2?family=Mooli&display=swap');

* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

.app {
   max-width: 600px;
   width: 100%;
   margin: auto;
   font-family: 'Mooli', sans-serif;
}

.main {
   background-color: #e0d0c1;
   min-height: calc(100vh - 80px);
   padding: 20px 10px;
}
